#apply-width(@size) {
  .dm-layout-horizontal > & {
    // flex-grow: @size / 12;
  }
  width: @size * 100% / 12;
}

#apply-height(@size) {
  .dm-layout-vertical > & {
    flex-grow: @size / 12;
  }

  &.dm-layout-vertical {
    height: @size * 80vw / 12;
  }

  height: @size * 100% / 12;
}

// width, S/*

#width(@size) {
  [dm-width-s="@{size}"], [dm-width="@{size}"] {
    #apply-width(@size);
  }
}

#width(@size) when (@size < 12) {
  #width(@size + 1);
}

#width(1);

// height, S/*

#height(@size) {
  [dm-height-s="@{size}"], [dm-height="@{size}"] {
    #apply-height(@size);
  }
}

#height(@size) when (@size < 12) {
  #height(@size + 1);
}

#height(1);

#horizontal() {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#vertical() {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dm-layout {
  &-horizontal {
    #horizontal();
  }
  &-vertical {
    #vertical();
  }
}

// Margins, S/*

[dm-margin="small"], [dm-margin-s="small"] {
  margin: 0.2rem;
}

[dm-margin="normal"], [dm-margin-s="normal"] {
  margin: 0.4rem;
}

[dm-margin="big"], [dm-margin-s="big"] {
  margin: 0.8rem;
}

// Visibility

.dm-visible-s, .dm-visible-m, .dm-visible-l, .dm-visible-xl {
  visibility: hidden;
}

@media (max-width: 600px) {
  // Visibility, S

  .dm-hidden-s {
    visibility: hidden;
  }

  .dm-visible-s {
    visibility: visible;
  }

  // Layout, S

  .dm-layout-horizontal-s {
    #horizontal();
  }

  .dm-layout-vertical-s {
    #vertical();
  }

  .dm-layout-reverse {
    &.dm-layout-horizontal-s,
    &.dm-layout-horizontal {
      flex-direction: row-reverse;
    }

    &.dm-layout-vertical-s,
    &.dm-layout-vertical {
      flex-direction: column-reverse;
    }
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  // width, M

  #width-m(@size) {
    [dm-width-m="@{size}"] {
      #apply-width(@size);
    }
  }

  #width-m(@size) when (@size < 12) {
    #width-m(@size + 1);
  }

  #width-m(1);

  // height, M

  #height-m(@size) {
    [dm-height-m="@{size}"] {
      #apply-height(@size);
    }
  }

  #height-m(@size) when (@size < 12) {
    #height-m(@size + 1);
  }

  #height-m(1);

  // Margins, M

  [dm-margin-m="small"] {
    margin: 0.2rem;
  }

  [dm-margin-m="normal"] {
    margin: 0.4rem;
  }

  [dm-margin-m="big"] {
    margin: 0.8rem;
  }

  // Visibility, M

  .dm-hidden-m {
    visibility: hidden;
  }

  .dm-visible-m {
    visibility: visible;
  }

  // Layout, M

  .dm-layout-horizontal-m {
    #horizontal();
  }

  .dm-layout-vertical-m {
    #vertical();
  }

  .dm-layout-reverse {
    &.dm-layout-horizontal-m,
    &.dm-layout-horizontal {
      flex-direction: row-reverse;
    }

    &.dm-layout-vertical-m,
    &.dm-layout-vertical {
      flex-direction: column-reverse;
    }
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  // width, L

  #width-l(@size) {
    [dm-width-l="@{size}"] {
      #apply-width(@size);
    }
  }

  #width-l(@size) when (@size < 12) {
    #width-l(@size + 1);
  }

  #width-l(1);

  // height, L

  #height-l(@size) {
    [dm-height-l="@{size}"] {
      #apply-height(@size);
    }
  }

  #height-l(@size) when (@size < 12) {
    #height-l(@size + 1);
  }

  #height-l(1);

  // Margins, L

  [dm-margin-l="small"] {
    margin: 0.2rem;
  }

  [dm-margin-l="normal"] {
    margin: 0.4rem;
  }

  [dm-margin-l="big"] {
    margin: 0.8rem;
  }

  // Visibility, L

  .dm-hidden-l {
    visibility: hidden;
  }

  .dm-visible-l {
    visibility: visible;
  }

  // Layout, L

  .dm-layout-horizontal-l {
    #horizontal();
  }

  .dm-layout-vertical-l {
    #vertical();
  }

  .dm-layout-reverse {
    &.dm-layout-horizontal-l,
    &.dm-layout-horizontal {
      flex-direction: row-reverse;
    }

    &.dm-layout-vertical-l,
    &.dm-layout-vertical {
      flex-direction: column-reverse;
    }
  }
}


@media (min-width: 1200px) {
  // width, XL

  #width-xl(@size) {
    [dm-width-xl="@{size}"] {
      #apply-width(@size);
    }
  }

  #width-xl(@size) when (@size < 12) {
    #width-xl(@size + 1);
  }

  #width-xl(1);

  // height, XL

  #height-xl(@size) {
    [dm-height-xl="@{size}"] {
      #apply-height(@size);
    }
  }

  #height-xl(@size) when (@size < 12) {
    #height-xl(@size + 1);
  }

  #height-xl(1);

  // Margins, XL

  [dm-margin-xl="small"] {
    margin: 0.2rem;
  }

  [dm-margin-xl="normal"] {
    margin: 0.4rem;
  }

  [dm-margin-xl="big"] {
    margin: 0.8rem;
  }

  // Visibility, XL

  .dm-hidden-xl {
    visibility: hidden;
  }

  .dm-visible-xl {
    visibility: visible;
  }

  // Layout, XL

  .dm-layout-horizontal-xl {
    #horizontal();
  }

  .dm-layout-vertical-xl {
    #vertical();
  }

  .dm-layout-reverse {
    &.dm-layout-horizontal-xl,
    &.dm-layout-horizontal {
      flex-direction: row-reverse;
    }

    &.dm-layout-vertical-xl,
    &.dm-layout-vertical {
      flex-direction: column-reverse;
    }
  }
}

// layout elements

.dm-layout {
  &-center:not(&-horizontal) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-horizontal, &-horizontal-s, &-horizontal-m, &-horizontal-l, &-horizontal-xl {
    &.dm-layout-center {
      justify-content: center;
    }
  }

  &-horizontal, &-vertical {
    &[dm-spacing="small"] {
      & > * {
        margin: 0.1rem;
      }
    }

    &[dm-spacing="normal"] {
      & > * {
        margin: 0.3rem;
      }
    }

    &[dm-spacing="big"] {
      & > * {
        margin: 0.6rem;
      }
    }
  }

  &-reverse {
    &.dm-layout-horizontal,
    &.dm-layout-horizontal-s,
    &.dm-layout-horizontal-m,
    &.dm-layout-horizontal-l,
    &.dm-layout-horizontal-xl {
      flex-direction: row-reverse;
    }

    &.dm-layout-vertical,
    &.dm-layout-vertical-s,
    &.dm-layout-vertical-m,
    &.dm-layout-vertical-l,
    &.dm-layout-vertical-xl {
      flex-direction: column-reverse;
    }
  }
}
